<div class="footer" style="position: fixed;bottom: 0">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li><a href="http://weibo.com/jerrylee2014/" target="_blank"><i class="fa fa-weibo"></i></a></li>
                        <li><a href="https://github.com/lizhangyuh" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li> Power By &nbsp;<a href="http://nodejs.org">NodePad</a></li>
                        <li> Design By &nbsp;<a href="http://lingyong.me">lingyong</a>
                        </li>
                        <li>&copy; 2014 &nbsp; Modified by&nbsp;<a href="http://jl.geekwall.org">JerryLee</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/themes/<%= settings.theme%>/javascripts/jquery.js"></script>
<script src="/themes/<%= settings.theme%>/javascripts/jquery.scrollUp.min.js"></script>
<script src="/themes/<%= settings.theme%>/javascripts/bootstrap.min.js"></script>
</body>
</html>