    <div class="clearfix"></div>
    <footer class="site-footer clearfix">
      <div class="mastfoot">
            <div class="inner">
              <p>&copy; 2014 基于 <a href="http://getbootstrap.com" target="_blank">node.js</a> 和 <a href="http://mongodb.github.io/node-mongodb-native/" target="_blank">mongoDB</a> , <a href="http://weibo.com/jerrylee2014" target="_blank">Jerry Lee</a> 设计开发.</p>
            </div>
          </div>

    </footer>
        </div>
    </div>
</div>
    <script type="text/javascript" src="/themes/<%= settings.theme%>/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/themes/<%= settings.theme%>/javascripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/themes/<%= settings.theme%>/javascripts/index.js"></script>
    <script type="text/javascript" src="/themes/<%= settings.theme%>/javascripts/bootstrap.min.js"></script>
</body>
</html>