@media screen and (min-width: 768px) {
  #mynav {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px groove rgba(0, 0, 0, 0.05);
  }
  #mynav li > a {
    color: rgba(0, 0, 0, 0.7);
  }
  #mynav li > a:hover {
    color: rgba(0, 0, 0, 0.4);
  }
}
#mynav .navbar-brand {
    color: #4EA9F7 !important;
    font-weight: normal;
}
#mynav .navbar-brand:hover {
    color: #2a6496 !important;
}
#mynav .navbar-brand {
    font-weight: bold;
}
body {
  background-color: #ffffff;
}
body .pager {
  padding: 10px;
  margin-top: 70px;
}
body .pager .about-content .quote {
  padding: 20px 0;
}
body .pager .about-content .quote i {
  font-size: 20px;
  padding: 5px;
}
body .pager .about-content .connect ul li {
  display: block;
  padding-top: 5px;
}
.aboutme{
    margin: 20px auto;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}
.aboutme p{
    margin:30px 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
