<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title%> | <%= settings.blogname%></title>

    <link rel="stylesheet" type="text/css" href="/themes/dashboard/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/themes/dashboard/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/themes/dashboard/stylesheets/dash_style.css" />
      <link type="text/css" rel="stylesheet" href="/themes/dashboard/stylesheets/wmd.css"/>

    <script type="text/javascript" src="/themes/dashboard/javascripts/jquery-1.11.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= settings.blogname%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard">控制台</a></li>
            <li><a href="/dashboard/settings">设置</a></li>
            <li><a href="/logout">退出登录</a></li>
          </ul>
         <!--  <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li <% if (active=='blog') {%>class="active"<% }%>><a href="/dashboard"><i class="icon-book"></i> 文章</a></li>
            <li <% if (active=='about') {%>class="active"<% }%>><a href="/about/edit"><i class=" icon-info-sign"></i> 关于</a></li>
            <li <% if (active=='settings') {%>class="active"<% }%>><a href="/dashboard/settings"><i class=" icon-cog"></i> 设置</a></li>
          </ul>
          <p class="bottom-copy">&copy;2014 JerryLee</p>
        </div>