<%- include header %>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="container" style="width:80%;text-align:left">

      <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">登录 <%= settings.blogname%></h2><br>
        <input name="username" type="text" class="form-control" placeholder="用户名" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="密码" required>
        <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="登 录"/>
      </form>

    </div>

<%- include footer %>


    